# Pin assignment for LEDs
NET "CarryOut" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "Result" LOC = "M5" ;  # Bank = 2, Signal name = LD0

# Pin assignment for SWs
NET "Operation[1]" LOC = "N3";  # Bank = 2, Signal name = SW7
NET "Operation[0]" LOC = "E2";  # Bank = 3, Signal name = SW6
NET "CarryIn" LOC = "F3";  # Bank = 3, Signal name = SW5
NET "Binvert" LOC = "G3";  # Bank = 3, Signal name = SW4
NET "Ainvert" LOC = "B4";  # Bank = 3, Signal name = SW3
NET "Less" LOC = "K3";  # Bank = 3, Signal name = SW2
NET "b" LOC = "L3";  # Bank = 3, Signal name = SW1
NET "a" LOC = "P11";  # Bank = 2, Signal name = SW0
